# SIMPLE LINEAR REGRESSION (SLR)

Hiring.csv. This file contains hiring statics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates,

2 yr experience, 9 test score, 6 interview score

12 yr experience, 10 test score, 10 interview score

In [1]:
#importing mods 
import pandas as pd 
from word2number import w2n
from unidecodeerror_solver import encoding
import warnings
warnings.filterwarnings("ignore", message="X does not have valid feature names")

In [2]:
#path to file
path =r"C:\Users\M D\Downloads\hiring.csv"

In [3]:
#reading file
df = pd.read_csv(path, encoding=encoding(path))
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

### Cleaning

In [4]:
# replacing missing values 
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(df['test_score(out of 10)'].mean())
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN               8.000000                           9      50000
1        NaN               8.000000                           6      45000
2       five               6.000000                           7      60000
3        two              10.000000                          10      65000
4      seven               9.000000                           6      70000
5      three               7.000000                          10      62000
6        ten               7.857143                           7      72000
7     eleven               7.000000                           8      80000

In [5]:
df.columns

Index(['experience', 'test_score(out of 10)', 'interview_score(out of 10)',
       'salary($)'],
      dtype='object')

In [6]:
# replacing missing values 
df['experience'] = df['experience'].fillna("Zero")
df['experience'] = df['experience'].apply(lambda x:w2n.word_to_num(x))
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0               8.000000                           9      50000
1           0               8.000000                           6      45000
2           5               6.000000                           7      60000
3           2              10.000000                          10      65000
4           7               9.000000                           6      70000
5           3               7.000000                          10      62000
6          10               7.857143                           7      72000
7          11               7.000000                           8      80000

In [7]:
# replacing zero with median
df['experience'] = df['experience'].replace(0,df['experience'].median())
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           4               8.000000                           9      50000
1           4               8.000000                           6      45000
2           5               6.000000                           7      60000
3           2              10.000000                          10      65000
4           7               9.000000                           6      70000
5           3               7.000000                          10      62000
6          10               7.857143                           7      72000
7          11               7.000000                           8      80000

### Building model

In [8]:
#necessary models 
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
df.columns

Index(['experience', 'test_score(out of 10)', 'interview_score(out of 10)',
       'salary($)'],
      dtype='object')

In [9]:
# selecting my target and input features
X = df.drop('salary($)',axis=1)
y =df['salary($)']

In [10]:
#instance for SLr
model = LinearRegression()

#fitting model 
model.fit(X,y)

LinearRegression()

In [11]:
#getting model coefficients
coefficients = model.coef_
coefficients

array([3410.99246822, 1855.33727337, 3185.63949828])

### Making prediction for first person
2 yr experience, 9 test score, 6 interview score

In [12]:
#2 yr experience, 9 test score, 6 interview score
pred = model.predict([[2,9,6]])[0]
print(f'For a person with 2 yr experience, 9 test score, 6 interview score, the prediction is ${pred:.2f}')

For a person with 2 yr experience, 9 test score, 6 interview score, the prediction is $46356.09

12 yr experience, 10 test score, 10 interview score

In [13]:
#12 yr experience, 10 test score, 10 interview score
pred = model.predict([[12,10,10]])[0]
print(f'For a person with 12 yr experience, 10 test score, 10 interview score , the prediction is ${pred:.2f}')

For a person with 12 yr experience, 10 test score, 10 interview score , the prediction is $95063.91